body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 1000px) {
  body {
    background-color: rgb(8, 65, 83);
  }
}


html {
  background-image: url("https://images5.alphacoders.com/115/1150928.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
}


p {
  text-align: center;
  color: whitesmoke;
  
}

form {
  text-align: center;
}

header {
  text-transform: capitalize;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  
}

#apex-data {
  text-align: center;
  text-decoration-line: underline;
  text-decoration-color: aquamarine;
color: black;
gap: 10px;

}

h2 {
  color: aliceblue;
  background-position: center;
  flex-direction: row;
  align-content: center;
}

#apexHeader {
  flex-direction: row;
}

a {
  color: white;
}

p {
  font-size: x-large;
  font-style: oblique;
}